.Links {
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-position: under;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
}
