.page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-image: url('/static/images/tramebackground.png');

  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  height: calc(100% - 64px);
}

.parameters {
  height: 100%;
  overflow-y: scroll;
  margin-left: 1em;
  padding-right: 10px;
  width: 530px;
  padding-top: 1em;
}

.results {
  height: 100%;
  flex: 1;
  padding: 1em;
}
