{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 9,
        "ecmaFeatures": {
            "jsx": true,
        },
        "sourceType": "module",
    },
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
    },
    "plugins": [
        "fp",
        "import",
        "jsx-a11y",
        "react",
    ],
    "extends": [
        "airbnb",
        "plugin:fp/recommended",
    ],
    "settings": {
        "react": {
            "version": "detect",
        },
    },
    "rules": {
        "array-bracket-newline": ["error", { "multiline": true }],
        "array-element-newline": ["error", "consistent"],
        "func-style": ["error", "declaration"],
        "fp/no-mutation": ["error", { "commonjs": true }],
        "import/no-unresolved": "off",
        "indent": ["error", 4],
        "max-nested-callbacks": ["error", 1],
        "no-underscore-dangle": ["error", { "allow": ["__INIT_MATERIAL_UI__"] }],
        "quotes": ["error", "double", { "avoidEscape": false }],
        "react/jsx-indent": ["error", 4, { checkAttributes: false, indentLogicalExpressions: true }],
        "react/jsx-indent-props": ["error", 4],
        "react/react-in-jsx-scope": "off",
        "semi": ["error", "never"],
    },
}
