{
    parser: "babel-eslint",
    parserOptions: {
        ecmaVersion: 9,
        ecmaFeatures: {
            jsx: true,
        },
        sourceType: "module",
    },
    env: {
        browser: true,
        es6: true,
        node: true,
    },
    plugins: [
        "flowtype",
        "fp",
        "import",
        "jest",
        "jsx-a11y",
        "react",
        "react-hooks",
    ],
    extends: [
        "airbnb",
        "plugin:fp/recommended",
        "plugin:flowtype/recommended",
        "plugin:jest/recommended",
    ],
    settings: {
        react: {
            version: "detect",
        },
    },
    rules: {
        "array-bracket-newline": ["error", { multiline: true }],
        "array-element-newline": ["error", "consistent"],
        "flowtype/no-types-missing-file-annotation": "off",
        "func-style": ["error", "declaration"],
        "fp/no-mutation": ["error", { commonjs: true }],
        "fp/no-unused-expression": "off",
        "import/no-unresolved": "off",
        indent: ["error", 4],
        "max-nested-callbacks": ["error", 2],
        "no-underscore-dangle": "error",
        quotes: ["error", "double", { avoidEscape: false }],
        "react/jsx-indent": [
            "error",
            4,
            { checkAttributes: false, indentLogicalExpressions: true },
        ],
        "react/jsx-indent-props": ["error", 4],
        "react/react-in-jsx-scope": "off",
        "react/require-default-props": "off",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "error",
        semi: ["error", "never"],
    }
}
