@import 'styles/variables';

.card {
  min-width: 50px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: $default-font-family;
}

.header, .content1, .content2 {
  padding: 15px;
}

.header {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;

  .icon {
    margin-right: 10px;
  }

  .titles {
    flex: 1;

    .title {
      font-weight: bold;
      font-size: 1.125em;
      color: #565656;
      padding-bottom: 5px;
    }

    .subTitle {
      font-size: 0.875em;
      color: #565656;
    }

  }

  .buttons {
    margin-left: 10px;

    >* {
      cursor: pointer;
    }

    :last-child {
      margin-left: 5px;
    }
  }
}