@import 'styles/variables';

$padding-left: 24px;

.header {
  background-color: #f1f1f1;
  padding: 5px 10px 5px $padding-left;
  display: flex;
  align-items: center;
  flex-direction: row;

  .title {
    font-weight: bold;
    text-transform: uppercase;
    font-family: $default-font-family;
  }

  .subTitle {
    color: #696969;
    font-family: $law-font-family;
  }

  .btn {
    cursor: pointer;
    border: none;
    background-color: inherit;
  }

  .btn:hover {
    background-color: #e1e1e1;
  }

}

.text {
  flex-grow: 1;
}

.content {
  padding: $padding-left / 2 $padding-left;
}