@import "styles/variables";

.container {
  margin-left: 20px;
}

.text {
  color: $light-grey-text-color;
  margin-bottom: 5px;
  font-size: 0.9rem;
  display: flex;
  align-content: center;

  > * {
    margin-right: 2px;
  }
}

.dotationParHab {
  font-weight: bold;
  font-size: 0.9rem;
}