.navigation {
  width: 600px;

  h1 {
    color: black;
  }

  button {
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    height: 60px;
    border: solid black 2px;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    font-size: 1.25rem;
    padding-left: 20px;

    margin-bottom: 20px;
  }
}