.window {
  background-color: #D2DFFF;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  .header, .content {
    padding: 10px 20px;
  }

  .header {
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;

    .close {
      cursor: pointer;
    }
  }

  .content {
    background-color: white;
    max-height: 600px;
    overflow: scroll;
    line-height: 1.3;
  }

}