@import 'styles/variables';

.total {
  font-size: 40px;
  margin-bottom: 15px;
}

.nouvellementEligible, .plusEligible, .toujoursEligible {
  font-size: 14px;
}

.nouvellementEligible, .plusEligible {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.nouvellementEligible {

  .icon {
    color: #13CC03;
  }

}

.plusEligible {

  .icon {
    color: #FFAC33;
  }

}

.toujoursEligible {
  margin-top: 5px;
  color: $light-grey-text-color;
}

.expansionPanel {
  margin: -15px !important;

  .expansionPanelTitle {
    color: $middle-grey-text-color;
    font-weight: bold;
    font-size: 12px;
  }
}

.image {
  height: 40px;
}