@import 'styles/variables';

.legend {
  color: $light-grey-text-color;
  font-family: $default-font-family;
  font-size: 0.8rem;
}

.potentielFinancier {
  display: flex;

  :last-child {
    margin-left: 2px;
  }
}

.text {
  font-size: 1rem;
  font-weight: bold;
}

.icon {
  height: 30px;
  margin-right: 3px;
}