@import 'styles/variables';

.result {
  font-size: 40px;
  font-family: $default-font-family;
}

.legend {
  color: $light-grey-text-color;
  font-family: $default-font-family;
  font-size: 0.8rem;
}