@import 'styles/variables.scss';

.baseValue {
  font-weight: bold;
}

.plfValue {
  font-weight: bold;
  color: $plf-color;
}

.replacedWithPlf {
  text-decoration-color: $plf-color;
  text-decoration-line: line-through;
}

.replacedWithAmendement {
  text-decoration-color: $amendement-bg-color;
  text-decoration-line: line-through;
}

.amendementInput {
  width: 80px;
}

.smallInput {
  width: 40px;
}

.xlInput {
  width: 130px;
}

.amendementValue {
  font-weight: bold;
  padding: 0.1rem;
  margin: -0.1rem;
  background-color: $amendement-bg-color;
}

.noOverflow > span {
  display: inline-block;
}
