@import 'styles/variables';

.bold {
  font-weight: bold;
}

.plfValue {
  color: $plf-color;
}

.amendementValue {
  color: $amendement-text-color;
}

.replacedWithAmendement {
  text-decoration: line-through;
  text-decoration-color: $amendement-text-color;
}