
:global {
    
  .chart-wrapper {
    height: 210px;
    display: flex;
    width: 100%;
  }
  .chart {
    height: 210px;
    width: 100%;
  }
  .main-chart{
    flex: 3,
  }

  .nobreak {
    overflow: hidden;
  }

  .styleExpansionPanel {
    margin: 0px;
    overflow-x:scroll;
  }

}
