@import 'styles/variables';

.uniteImpotEtat {
  &.avant {
    font-family: $default-font-family;
    font-size: 30px;
    color: #000000;
  }
  &.plf {
    font-family: $default-font-family;
    font-size: 30px;
    color: $plf-color;
  }

  &.apres {
    font-family: $default-font-family;
    font-size: 30px;
    color: #000000;
  }
}

.impotEtat {
  &.avant {
    font-family: $default-font-family;
    font-weight: bold;
    font-size: 40px;
    color: #000000;
  }
  &.plf {
    font-family: $default-font-family;
    font-weight: bold;
    font-size: 40px;
    color: $plf-color;
  }

  &.apres {
    font-family: $default-font-family;
    font-weight: bold;
    font-size: 40px;
    color: #000000;
    background-color: $amendement-bg-color;
    padding: 0.1rem;
  }
}

.montantImpots {
  padding: 0px;
}

.noPLF {
  margin-top: 20px;
}

.chartWrapper {
  height: 210px;
  display: flex;
}

.mainChart{
  flex: 1;
}

.simpop {
  margin-top: 10px;
  padding-left: "3px";

  > div {
    display: flex;
    align-items: baseline;
  }
}

.styleExpansionPanel {
  margin: 0px;
  overflow-x:scroll;
}

.sourceInsee {
  color: #B1B1B1;
  font-family: $default-font-family;
  font-size: 12px;
  text-align: right;
  margin-left: 15px;
}