@import '../../../styles/variables.scss';

.initialValue {
  font-weight: bold;
  margin: 0 0.3rem;
  text-decoration-color: $amendment-color;
  text-decoration-line: line-through;
}

.plfValue {
  font-weight: bold;
  color: $plf-color;
}

.amendmentInput {
  width: 80px;
  top: -0.2rem;
}

.amendmentValue {
  font-weight: bold;
  color: #000000;
}

.amendmentValueModified {
  background-color: $amendment-color;
}