@import 'styles/variables.scss';

$input-margin: 0.3rem;

.baseValue {
  font-weight: bold;
  margin-left: $input-margin;
  text-decoration-color: $amendement-bg-color;
  text-decoration-line: line-through;
}

.plfValue {
  font-weight: bold;
  margin-left: $input-margin;
  color: $plf-color;
}

.amendementInput {
  width: 80px;
}

.smallInput {
  width: 40px;
}

.amendementValue {
  font-weight: bold;
  margin-left: $input-margin !important;
  margin-right: $input-margin !important;
}

.amendementValueModified {
  padding: 0.1rem;
  margin: -0.1rem;
  background-color: $amendement-bg-color;
}

.noOverflow > span {
  display: inline-block;
}
