$light-grey-bg-color: #f1f1f1;

$light-grey-text-color: darkgrey;
$middle-grey-text-color: #7c7c7c;
$dark-grey-text-color: rgb(86, 86, 86);

$amendement-bg-color: rgb(222, 213, 0);
$amendement-text-color: #746F08;
$plf-color: rgb(255, 107, 107);
$default-font-family: Lato;

$law-font-family: Lora;
$law-font-size: 16px;
$law-line-height: 1.8;
