:global html {
    background-image: url("/static/images/tramebackground.png");
}

:global input {
    max-width: 90px;
    border: 1px solid #00a3ff;
    border-radius: 4px;
    background-color: white;
    color: #00a3ff;
    font-family: "Lora", "Trebuchet", "Tahoma", "Arial", sans-serif;
    font-size: 14pt;
    font-weight: bold;
    display: inline;
    float: inline;
    box-sizing: border-box;
}

:global .clearfix {
    clear: both;
}

:global .expander {
    flex-grow: 1;
}
