 $primary-color: grey;

@media screen and (min-width: 500px) {
  
	.main-index {
	     background-color: #FFFCB2;
	     width: auto;
	}

	.moitie-gauche {
	   box-sizing: border-box;
	   position:absolute;
	   width: 600px;
	  
	   float:left;
	    /*min-width: 500px;
	   margin: 10px;
	   display:inline-block;*/
	 }

	.moitie-droite {
		box-sizing: border-box;
	   margin-left: 620px;
	   margin-right: 32px;
	   margin-top: none;
	   float:left;
	   /* width: auto ;
	  max-width:30%;
	   min-width: 200px;
	   margin: 10px;
	   display:inline-block;*/
	 }
 }



	 .clearfix{
    	clear:both
	}


	.heading {
	   display: flex;
	   justify-content: center;
	   font-size: 20px;
	   font-weight: bold;
	   margin-top: 5em;
	 }

	.text {
	   display: flex;
	   justify-content: center;
	   margin-top: 2em;
	 }

	.img-container {
	   justify-content: center;
	   display: flex;
	   margin-top: 2em;
	   img {
	     width: 500px;
	     height: 50px;
	     display: flex;
	   }
 	}

	input {
		  max-width: 90px;
		  border: 1px solid #00A3FF;
		  border-radius: 4px;
		  background-color: white ;
		  color: #00A3FF;
		  font-family: Lora; 
		  font-size:14pt;
		  font-weight: bold;
		  display: inline ;
		  float: inline ;
		  box-sizing: border-box;

	}


