@import './variables';

:global {

  html {
    background-image: url(../static/images/tramebackground.png);
  }

  input.mui-number-stepper::-webkit-inner-spin-button,
  input.mui-number-stepper::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

}
