@import './variables';

:global {

  html {
    background-image: url(../static/images/tramebackground.png);
  }

  input.mui-number-stepper::-webkit-inner-spin-button,
  input.mui-number-stepper::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // This style is hack: it is defined globally but it is intended
  // to only be used by the component parameter.
  input {
    font-family: $law-font-family !important;
    font-weight: bold !important;
    font-size: 18px !important;
  }
}
