

h1 {
	font-family: "lato";
	color : #000000;
	font-size:36px;
	margin-top: 0px;
	padding-top: 0px;

}



h2 {
	font-family: "lato";
	color : #000000;
	font-size:24px;
	padding-top: 0px;
}

p {
	font-family : "Lato";
	color : #000000;
	font-size:16px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;

}

li {
	font-family : "Lato";
	padding-top: 10px;

}
ul {
	padding-left: 80px;
	padding-right: 30px;
}

ol {
	padding-left: 80px;
	padding-right: 30px;
	text-align: justify;

}

a:hover {
	color: #00A3FF;
}

