

h1 {
	font-family: "lato";
	font-size:"36px";

}



h2 {
	font-family: "lato";
	font-size:"36px";

}

p {
	font-family : "Lato";
	color : "#565656";
	font-size:"9px";
}

li {
	font-family : "Lato"
}
