@import 'styles/variables';

$padding-x: 30px;
$padding-y: 15px;

.header {
  background-color: $light-grey-bg-color;
  padding: 5px 10px 5px $padding-x;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  outline: none;

  .text {
    flex-grow: 1;
    display: flex;
    align-items: center;

    .icon {
      margin-right: 5px;
    }
  
    .title {
      font-weight: bold;
      text-transform: uppercase;
      font-family: $default-font-family;
    }
  
    .subTitle {
      color: #696969;
      font-family: $law-font-family;
    }
  }

  .btn {
    display: flex;
  }

}

.header:hover {
  background-color: #e1e1e1;
}

.content {
  padding-bottom: $padding-y;
  padding-left: $padding-x;
  font-family: $law-font-family;
  font-size: $law-font-size;
  line-height: $law-line-height;
}